/* Image Crop  */
.post-crop{
    overflow: hidden !important;
    width: 711px !important;
    height: 826px !important;
}

/*NAVIGATION MENU*/
.logo {
    font-size: 28px;
    color: #383838;
}
#brand {
    font-weight: 600;
}
.menu {
    color: #7c7c7c;
    font-weight: 500;
    margin-right: 40px;
    font-size: 18px;
}
.menu:hover, .logo:hover {
    color: #000;
}
.nav-social {
    width: 26px;
    height: 26px;
    margin-left: 6px;
}
nav {
    margin-top:10px;
}
#logout {
    margin-left: 40px;
}


/*MAIN*/
body {
    background-color: #fcfcfc;
}
.button {
    background-color: #f0451c;
    font-weight: 600;
    color: #fff;
    border-radius: 0 !important;
}
.button:hover {
   color: #fff; 
}
.button-hero, .button-hero:hover{
    background-color: #f9f4f3;
    font-weight: 600;
    color: #f0451c;
    padding: 0;
}

.button-post, .button-post:hover {
    font-weight: 600;
    color: #f0451c;
    padding: 0;
}
.card {
    border: 0 !important;
}
.card-body {
    background-color: #f9f4f3;
}

hr {
    border-color: #7c7c7c;
}


.hero-image {
    background-image: url('../images/corona.jpg');
    background-repeat: no-repeat;
    height: 600px;
}
#hero-text {
    padding: 4rem;
    margin-top: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: #f9f4f3;
}
.post-text {
    padding-left: 4rem;
    padding-right: 4rem;
}
#featured-posts {
    margin-top: 100px;
    margin-bottom: 40px;
}
.load-more {
    margin-top: 100px;
}
.blog-heading {
    font-size: 2rem;
}
.title-comments {
    font-weight: 600;
    font-size: 24px;
}
#chat-box {
    margin-right: 1rem;
}
.box-comments {
    background-color: #F1F1F1;
    padding: 2rem;
    margin-bottom: 1rem;
}
.break-share {
    margin-top: 3rem;
}
.col-comments {
    margin-left: 4rem;
}
.b-color {
    background-color: #f9f4f3;
}
.b-padding {
    padding: 4rem 4rem;
}
a {
    color: #000;
}
a:hover {
    color: #f0451c;
}


.break {
    margin-top: 4rem;
}
.blog-tc {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.bg-image {
    height: 700px;
    background-image: url('../images/about.jpg');
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;
}
#authors {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.text-box {
    background-color: #fff;
    padding: 2rem;
    max-width: 40%;
    position: absolute;
    top: 10rem;
}
.relative {
    position: relative;
}

/*Scroll to top button*/
.back-to-top {
    position:fixed;
    bottom:2em;
    right:0;
    text-decoration:none;
    color:#000;
    background-color:#e8e8e8;
    font-size:12px;padding:1em;display:none
}
.back-to-top:hover {
    background-color:#c2c2c2;
    text-decoration:none;
    color:#000
}
.pag-btn {
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #f9f4f3;
    font-weight: 600;
    color: #f0451c;
  
}

.break-search {
    margin-top: 4rem;
}


/*FOOTER*/
.f-social {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#admin-form {
    width: 70%;
    margin-top: 20px;
}
footer {
    margin-bottom: 40px;
    margin-top: 80px;
}
.footer-margin {
    margin-top: 40px;
}
.vd {
  border-left: 1px solid #7c7c7c;
  height: 300px;
}
.f-menu {
    color: #7c7c7c;
    font-weight: 500;
    font-size: 18px;
}
.f-menu:hover {
    color: #000;
    text-decoration: none;
}

.card-img {
min-width: 100%;
width: auto;
height: auto;
}



/*MEDIA QUERIES*/
@media only screen and (max-width: 768px) {
    .menu {
        font-size: 16px;
    }
    .f-col-margin {
        margin-top: 40px;
    }
    #admin-form {
        margin-top: 40px;
    }
    .col-comments {
        margin-left: 0;
        margin-top: 5rem;
    }
    .break-share {
        margin-top: 2rem;
    }
    .break-comments {
        margin-top: 3rem;
    }
    .card {
    margin-bottom: 2rem;
    }
    .break-search {
        margin-top: 2rem;
    }
    #hero-text {
        margin: 1rem 0;
    }
    #authors {
    margin-bottom: 2rem;
    }
    .np-btn {
        text-align: center !important;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .post-text{
        padding-left: 0;
        padding-right: 0;
    }
    .home-text {
        margin-bottom: 3rem;
    }
    .text-box {
        padding: 1rem;
        max-width: 100%;
        position: absolute;
        top: 4rem;
        right: 4rem;
    }
    .bg-image {
        height: 500px;
    }
}
@media only screen and (max-width: 1366px) {
    #hero-text {
        margin-left: 0;
        margin-right: 0;
        padding: 2rem;
    }
    .hero-image {
        height: 500px;
    }
}


/*Admin update pages*/
.post-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}
.welcome-admin {
    margin-top:30px;
    margin-bottom:30px;
}
.create-btn {
    background-color: green;
}
.list-img {
    width: 20px;
    height:20px;
    background-color: white;
}
.innerbox {
   width:20px; 
   max-width:20px; 
   display: inline-block;
}
.update-btn {width:30px;}

